In [26]:
#dependencies
from bs4 import BeautifulSoup as bs
# import numpy as np
import pandas as pd
# from selenium import webdriver
# import requests as req
from pretty_html_table import build_table
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager

In [2]:
# Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 88.0.4324
[WDM] - Get LATEST driver version for 88.0.4324

[WDM] - Driver [/Users/Kevin/.wdm/drivers/chromedriver/mac64/88.0.4324.96/chromedriver] found in cache

In [3]:
# Part 1
# Scrape the first news story (title and teaser) from https://mars.nasa.gov/news/

In [4]:
# URL of page to be scraped

url = 'https://mars.nasa.gov/news/'
browser.visit(url)

In [5]:
newsHTML = browser.html
soup = bs(newsHTML, 'html.parser')

In [6]:
soupDiv = soup.find(class_="slide")
soupNews = soupDiv.find_all('a')
newsTitle = soupNews[1].get_text().strip()
print(newsTitle)

Testing Proves Its Worth With Successful Mars Parachute Deployment

In [7]:
soupTeaser = soup.find(class_="article_teaser_body")
newsPara = soupTeaser.get_text().strip()
print(newsPara)

The giant canopy that helped land Perseverance on Mars was tested here on Earth at NASA’s Wallops Flight Facility in Virginia.

In [8]:
# Part 2  
# Get the image of the day from https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/index.html

In [9]:
# URL of page to be scraped
imageURL = 'https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/index.html'
imageBaseURL = 'https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/'
browser.visit(imageURL)
browser

In [10]:
featuredImageHTML = browser.html
featuredImagesSoup = bs(featuredImageHTML, 'html.parser')
# soup

In [11]:
soupDiv = featuredImagesSoup.find(class_="showimg fancybox-thumbs")
partialImageURL = soupDiv['href']
print(partialImageURL)

image/featured/mars1.jpg

In [12]:
featuredImageURL = imageBaseURL + partialImageURL
browser.visit(featuredImageURL)
featuredImageURL

'https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/image/featured/mars1.jpg'

In [13]:
# Part 3 
# Scrape Mars facts page https://space-facts.com/mars/ and scrape the Mars Planet Profile Table

In [14]:
marsProfileURL = 'https://space-facts.com/mars/'
browser.visit(marsProfileURL)
browser

In [15]:
marsProfileTables = pd.read_html(marsProfileURL)
# marsProfileTables
# 3 tables, but table 1 and 3 are identical

In [29]:
df0 = marsProfileTables[0]
df0.columns  =["Mars Facts",""]  # gets rid of 0 and 1 in header

df0

             Mars Facts
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [17]:
df1 = marsProfileTables[1]
df1

  Mars - Earth Comparison             Mars            Earth
0               Diameter:         6,779 km        12,742 km
1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
2                  Moons:                2                1
3      Distance from Sun:   227,943,824 km   149,598,262 km
4         Length of Year:   687 Earth days      365.24 days
5            Temperature:     -87 to -5 °C      -88 to 58°C

In [18]:
# df2 = marsProfileTables[2]
# df2.columns  =["",""]
# df2

In [30]:
htmlTable0 = df0.to_html(index=False)
htmlTable0

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th>Mars Facts</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [20]:
htmlTable1 = df1.to_html(index=False)
htmlTable1

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th>Mars - Earth Comparison</th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <td>Diameter:</td>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <td>Moons:</td>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <td>Distance from Sun:</td>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <td>Length of Year:</td>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <td>Temperature:</td>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [21]:
htmlTable2 = df2.to_html(index=False)
html_table_blue_light = build_table(pd.read_excel('df.xlsx'), 'blue_light')
htmlTable2

In [22]:
# Part 4 
# Scrape the 4 hi-rez Mars Hemispheres images from 
# https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars

In [23]:
marsHemisphereURL = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(marsHemisphereURL)
browser

In [24]:
marsHemisphereHtml = browser.html
marsHemisphereSoup = bs(marsHemisphereHtml, 'html.parser')
# marsHemisphereSoup

In [25]:
soupDiv = marsHemisphereSoup.find(class_="description")
partialHemiURL = soupDiv['href']
# newsTitle = soupNews[1]#.get_text().strip()
print(soupNews)
soupDiv

# soupDiv = featuredImagesSoup.find(class_="showimg fancybox-thumbs")
# partialImageURL = soupDiv['href']
# print(partialImageURL)

KeyError: 'href'